@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueLTStd Lt.otf');
}
/* Fonts */
@font-face {
    font-family: "DaxBold";
    src: url('fonts/dax-bold.ttf');
}
@font-face {
    font-family: "Daxlight";
    src: url('fonts/dax-light.ttf');
}
@font-face {
    font-family: "DaxRegular";
    src: url('fonts/dax-regular.ttf');
}
@font-face {
    font-family: "DaxMedium";
    src: url('fonts/dax-medium.ttf');
}


.btn, input[type=text], input[type=password], .navbar{
    border-radius: 0;
}

.img-etudiant, #image_preview1 img{
    width: 150px;
    height: 150px;
}

.espace{
    margin-top: 10px;
}

.banniere{
    background-image: url('../image/ba.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100px;
    height: 100px;
    margin: auto;
    margin-top: -20px;
    border-bottom: 1px solid #D6D5D7;
}

.ligne1{
    background-color: #303030;
}

.ligne2 img{
    height: 75px;
    margin: 1%;
}

.col1{
    color: #7F7F7F;
    font-weight: bold;
    font-family: "Daxlight";
    font-size: 9px;
}

.bienvenu{
    color: #7F7F7F;
    font-weight: bold;
    font-family: "Daxlight";
    font-size: 11px;
}

.user{
    font-weight: bold;
    font-family: "Daxlight";
    font-size: 13px;
    color: #000000;
}

.col2{
    color: #D0D2D2;
    font-weight: bold;
    font-family: "Daxlight";
    font-size: 11px;
}

.img-user img{
    width: 50px;
    height: 50px;
}

.guide{
    margin-top: 1.9%;
    color: #0054B1;
}

.profile{
    margin-top: 1.4%;
}

.img-etudiant{
    border: 1px solid #EEEEEE;
    width: 175px;
    height: 175px;
}

.guide a{
    color: #0054B1;
    font-family: 'Daxlight';
    font-size: 11px;
}

.guide a:hover{
    color: #0054B1;
    text-decoration: none;
    font-weight: bold;
}

.ligne, .modal-header{
    background-color: #F0F1F1;
}

.footer{
    padding-top: 2.5%;
    padding-bottom: 3.6%;
    /*background-color: #D0D2D3;*/
}

.modal-header{
    box-shadow: 1px 1px 12px #555;
}

.menu{
    width: 21%;
}

.menu .image{
    background-color: #F0F1F1;
    border-radius: 5px 5px 0 0;
}

.image img{
    width: 60%;
    height: 60%;
}

.menu .texte{
    background-color: #D1D2D3;
    /*color: #000000;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;*/
    border-radius: 0 0 5px 5px;
    /*height: 35px;*/
    padding: 2%;
    /*padding: auto;*/
    height: 100%;
}

.menu a{
    color: #303030;
    font-weight: bold;
    font-family: "Daxlight";
    /*font-size: 11px;*/
    /*padding: 2%;*/
}

.menu a:hover{
    text-decoration: none;
    color: #000000;
}


.accueil .menu{
    margin: 2%;
}

table .menu img{
    width: 45px;
    margin-left: 2%;
    margin-bottom: 1%;
}

table .menu td{
    background-color: #F0F1F1;
    color: #000000;
    font-weight: bold;
    font-family: 'Daxlight';
    font-size: 12px;
    padding-top: 3%;
    width: 1000px;
}

table .menu td a{
    color: #000000;
}

table .menu td a:hover{
    text-decoration: none;
    font-weight: bold;
}


#choixPC{
    margin-left: 1%;
}

.modelePC, .conditions, .validation, .specialite, .spec, .poleUser, .formationUser{
    display: none;
}

.menu .changement{
    font-size: 13px;
}

body{
    font-family: 'Daxlight';
}

.loading-div, .loading-div4{
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #EBF8A4;
    border: 1px solid #A2D246;
    font-weight: bold;
    font-size: 11px;
}

.loading-div1{
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #EBF8A4;
    border: 1px solid #A2D246;
    font-weight: bold;
    font-size: 13px;
    border-radius: 0;
}

.contenu{
    margin-top: 2%;
}
.tabEno{
    font-size: 9px;
}

.tabDemande{
    font-size: 12px;
}

.thumbnail img{
    width: 55px;
    height: 55px;
}

.recherche input, .recherche select, .rechercheBourse input, .rechercheBourse select{
    height: 25px;
    font-size: 9px;
    color: #000000;
    font-family: "Daxlight";
    font-weight: bold;
}

.img-aide{
    max-height: 20px;
    /*width: 20px;*/
}

.menu .menu-actif{
    background-color: #D0D2D3;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #333333;
    padding: 1%;
}

.container .text-muted {
    margin: 20px 0;
}

/*.container {
        min-width: 560px;
}*/

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.footer{
    color: #FFF;
    font-size: 12px;
    font-family: 'Daxlight';
}

.ajout{
    margin: auto;
    margin-left: 0;
    opacity: 0.9;
    z-index: 1;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width : 60px;
    height: 60px;
    background-color: #047832;
    border-radius: 30px;
    right: 11%;
    bottom: 35%;
    background-image: url('../images/plus.png');
    z-index: 999;
}

.ajout:hover{
    opacity: 1;
    background-image: url('../images/user_add.png');
}

.panel-heading{
    /*    background-color: #006FB9;
        border-color: #006FB9;*/
    border-radius: 0;
    /*text-align: center;*/
    color: #006FB9;
}

.panel-group .panel{
    /*border: 1px solid #006FB9;*/
    border-radius: 0;
}

.panel-default a:hover{
    text-decoration: none;
}

.panel-default a{
    font-weight: bold;
}

/*.panel-title{
    color: #FFFFFF;
}*/

/*.panel-title a{
    margin-left: 0;
}*/

@media screen and (max-width: 600px) {
    .texte {
        display: none;
    }
}

/*Input type="file"*/
/*.inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        padding: 3px;
        border-radius: 2px;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label, .inputfile + label:hover {
    background-color: red;
}

.inputfile + label {
        cursor: pointer;
}

.inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
}*/


.tab-content{
    margin-top: 10px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 8px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    margin: 1px;
}

.vertical-menu a:hover {
    background-color: #006FB9; /* Dark grey background on mouse-over */
    color: #FFFFFF;
}

.vertical-menu img{
    width: 40px;
    margin-left: 2%;
    margin-bottom: 1%;
}

.vertical-menu .menu-actif{
    background-color: #006FB9;
    color: #FFFFFF;
}

.vertical-menu{
    margin-bottom: 15px;
}

#delecmaq, .delete{
    color: #990000;
    cursor: pointer;
}

.desactiver{
    color: #006FB9;
    cursor: pointer;
}

.recond{
    color: #047832;
    cursor: pointer;
}


.center-middle{
    width: 30%; 
    text-align: center; 
    vertical-align: middle;
}

p.span{
    padding: 5px;
    font: 18px "DaxLight";
}

input.input-editable{
    width: 30%; 
}

input.update{
    padding: 10px;
}

h4.title{
    font: 18px "DaxLight";
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}

.badge-c{
    font-size: 13px;
    color: #000000;
    background-color: #FFFFFF;
}
#tableNoteETU  th {
    background-color: #B0E0E6;

}

#tableNoteETU {
    border-collapse: collapse;
    width: 100%;
}

#tableNoteETU th, #tableNoteETU td {
    border: 1px solid #B0E0E6;
    text-align: left;
    padding: 8px;
}

.no-js #loader { 
    display: none;  
}

.js #loader { 
    display: block; 
    position: absolute; 
    left: 100px; 
    top: 0; 
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(https://j2n9a3i8.stackpathcdn.com/wp-content/uploads/2014/08/Preloader_11.gif) center no-repeat #fff;
}

#trLabelFormAddMedocs>th
{
    border:none;
}







